.movie-item {
    text-decoration: none;
    width: 320px;
    height: 320px;
    background-color: rgb(36, 37, 41);
    border-radius: 12px;
    cursor: pointer;
    position: relative;
}
.movie-item:not(:last-child) {
    margin-bottom: 50px;
}
.movie-item_title {
    font-size: 18px;
    font-weight: bold;
}
.movie-item_genre {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.movie-item_details {
    padding: 10px 20px;
}
.movie-item_description {
    margin-top: 10px;
    font-size: 14px;
}
.movie-item_buy {
    width: 95%;
    position: absolute;
    right: 0;
    bottom: 20px;
}