.search {
    display: flex;
    justify-content: space-between;
    margin-left: 8rem;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(25, 26, 28);
    padding: 0.5rem 1rem;
    border: 1px solid rgb(81, 83, 88);
    position: relative;
}
input {
    background-color: transparent;
    outline: none;
    color:aliceblue;
    margin-left: 0.5rem;
    border: none;
}